<!DOCTYPE html>
<head>
    <link rel="shortcut icon" type="image2/jpg" href="./icon2.jpg"/>
<meta charset="utf-8" />
<script src ="jquery.js"></script>
<script src="/socket.io/socket.io.js"></script>
<link rel="stylesheet" type ="text/css" href="layout.css">
<script src="./xuly.js">

</script>


</head>
<body>

<div id = "wrapper">
   <h1> Website quản lý ảnh</h1>
   <div id="listImage"></div>
</div>
</body>
</html>
