#wrapper{
    background-color: #cee8c5;
    width:90%;
    margin: 20px auto;
    border:1px solid #4a5745;
    padding :10px;
}
h1{
    text-align: center;
    font-weight: bold;
    font-size: 30;
    
}
.img{
    margin : 20px;
    height: 200px;
    width : 200px;
    border: 1px ridge black;
    padding : 20px;
    background-color: transparent;
    transition: padding 1s;
}
.img:hover{
    border: 2px solid red;
    padding: 50px;
    
}